<!DOCTYPE html>
<html lang="pt-br">

    <!--Para carregar os arquivos estaticos na pagina.-->
    {% load static %}

    <head>
        <meta charset="UTF-8">
        <!--Para ter compatibilidade com internet explore antigo-->
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <!--Para moldar dentro de navegadores de mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- CSS -->
        <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'extra/style/style.css' %}"/>
        <!-- Titulo-->
        <title>
            {% block title %}{% endblock title %}
        </title>
        {% block css %}{% endblock css %}
    </head>

    <body>
        <header>
            {% include 'partials/_navbar.html' %}
        </header>
        <main>
            <!--A linha abaixo serve para indicar onde no base.html será incluido informações de outros html-->
            {% block content %}{% endblock content %}
        </main>
        <!-- Scripts -->
        <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
        {% block js %}{% endblock js %}
    </html>