<!--Para carregar os arquivos estaticos na pagina.-->
{% load static %}

<nav data-info="navSideBar">
    <div id="sideBar" class="sidenav aberto">

        <div class="container-fluid">

            <a class="collapse-escolha" data-bs-toggle="collapse" href="#collapseVagas" aria-expanded="false"
                aria-controls="collapseVagas">
                Vagas
            </a>

            <div class="collapse" id="collapseVagas">
                <a class="collapse-opcoes" href="{% url 'todasvagas' %}">Todas Vagas</a>

                {% if request.user.tipo_user == "CAND" %}
                    <a class="collapse-opcoes" href="#">Vagas Candidatadas</a>

                {% elif request.user.tipo_user == "EMPR" %}
                    <a class="collapse-opcoes" href="{% url 'criandovaga' %}">Nova Vagas</a>
                    <a class="collapse-opcoes" href="{% url 'visualizandosuasvagas' %}">Suas Vagas</a>
                {% endif %}
                <hr>
            </div>

            {% if request.user.tipo_user == "CAND" %}
                <a class="collapse-escolha" data-bs-toggle="collapse" href="#collapseSeuPerfil" aria-expanded="false"
                    aria-controls="collapseSeuPerfil">
                    Seu Perfil
                </a>
                <div class="collapse" id="collapseSeuPerfil">
                    <a class="collapse-opcoes" href="{% url 'visualizandoperfil' %}">Vizualizar Perfil</a>
                    <!--#TODO <a class="collapse-opcoes" href="#">Editar Perfil</a> -->
                    <hr>
                </div>

            {% elif request.user.tipo_user == "EMPR" %}
                <a class="collapse-escolha" data-bs-toggle="collapse" href="#collapseSuaInfo" aria-expanded="false"
                    aria-controls="collapseSuaInfo">
                    Informações da empresa
                </a>
                <div class="collapse" id="collapseSuaInfo">
                    <a class="collapse-opcoes" href="{% url 'visualizandoinfo' %}">Vizualizar Informações</a>
                    <!--#TODO <a class="collapse-opcoes" href="#">Editar Informações</a> -->
                    <hr>
                </div>



            {% endif %}

            <hr>
            <a class="collapse-escolha" href="{% url 'logout' %}">Logout</a>

        </div>

    </div>

    <button onclick="manipularNav()" class="btn shadow-none" id="botaoSideBar">
        <svg width="16" height="16">
            <use href="{% static 'bootstrap/icons/list.svg' %}#listsvg"></use>
        </svg>
    </button>
</nav>
